.*
*~
_*
!.gitattributes
!.gitignore
!.appveyor.cmd
!.appveyor.yml
!.perltidyrc
!.travis.yml
/blib
/pm_to_blib
/Makefile
/Makefile.old
/MANIFEST*
!MANIFEST.SKIP
/META.*
/MYMETA.*
/local
/test
cpanfile.snapshot
dist.ini
*.tar.gz
